body,
html {
    /* font-family: 'Kaushan Script', cursive;
font-family: 'Roboto', sans-serif; */
    font-size: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.3;
    color: rgb(66, 91, 71)
}

*,
*::before *::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.none {
    display: none;
}

.container {
    margin: 0 auto;
    /* width: 100%; */
    max-width: 1230px;
    padding: 0 15px;
    /* border: 1px solid #333; */
}

.section {
    max-width: 100%;
    height: auto;
    text-align: center;
}

.section__header {
    /* width: 100%; */
    width: 100%;
    max-width: 1000px;
    padding: 80px 0;
    margin: 0 auto;
    text-align: center;
}

.section__subtitle {
    font-size: 24px;
    text-align: center;
}

.section__title {
    text-align: center;
    padding: 0 36px;
    margin: auto;
    max-width: 700px;
    line-height: 40px;
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    color: #333;
    text-transform: uppercase;
}
.section__list{
    list-style-type: none;
    padding: 0 10px;
}
.section__item{
    color: #1c1c1c;
    line-height: 1.3;
    padding: 10px 0;
    font-size: 1.4rem;
    text-align: center;
}

.section__text {
    padding: 0 30px;
    font-size: 1.3rem;
    max-width: 900px;
}
.overlay{
    position: fixed;
    background:#eeeab8;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    z-index: 200;
    opacity: 0;
    visibility:hidden;
}
.overlay.open{
    opacity: 0.7;
    visibility:visible;
    transition: all 0.2s;
}
.span__lesson{
    font-weight: bolder;
    color: #1c1c1c;
}
.header {
    background-image: url('./../images/stories/fone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 700px;
    color: #fff;
}

.header__top {
    padding: 47px 0 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__content {
    padding-top: 60px;
    position: relative;
}

.header__title {
    font-size: 72px;
    font-weight: 400;
    line-height: 107px;
    text-transform: uppercase;
}

.header__subtitle {
    font-size: 36px;
    line-height: 54px;
    font-weight: 400;
    margin-bottom: 30px;
}


.logo {
    margin-left: 20px;
    width: 100%;
    display: block;
    font-size: 1.6rem;
    text-decoration: none;
    color: rgb(231, 228, 230);
    transition: all .1s linear;
}

.logo:hover {
    color: #eccb0b;
}

.phone {
    font-size: 1.7rem;

    width: 100%;
    display: block;
    font-weight: bolder;
    color: #f1eef1;
    letter-spacing: 0.25px;
    text-decoration: none;
}

.phone__tell {}

.phone__tell--footer {
    color: rgb(34, 33, 35);
}

.phone__icon {
    width: 30px;
    height: 30px;
    display: block;
    fill: #eccb0b;
    padding-right: 10px;
}

.header__text {
    font-size: 1.2rem;
    margin-bottom: 30px;
    max-width: 500px;

}

.header__images {
    width: 100%;
    max-width: 670px;
    position: absolute;
    right: 0;
    bottom: -65px;

}

.button {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 14px 54px 15px;
    background-color: #5a0d67;
    transition: all .3s;
    color: #fff;
}

.button:hover {
    color: #450850;
    background: #fff;
}

.social {
    margin-top: 28px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__vk {
    padding-top: 16px;
}

.icon-vk,
.icon-yotube {
    display: block;
    width: 50px;
    height: 50px;
    padding-right: 6px;
    margin-right: 4px;
}

.icon-vk {
    fill: #eccb0b;
}

.icon-yotube {
    fill: #b10303;
}

.nav-toggle {}

.nav-toggle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: fixed;
    right: 125px;
    display: inline-block;
    vertical-align: top;
    padding:3px;
    z-index: 100;
    border: 3px solid #fff;
    background: #eccb0b;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    top: 114px;
    border-radius: 100%;
    transition: background .1s linear, color .1s linear;
}

.nav-toggle:hover {
    color: #333;
    background: #f0efea;
}
.topButton{
    position: fixed;
    bottom:40px;
    right: 9px;
    z-index: 100;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 30px;
    background: #ffc22f;
    opacity: 0.8;
    color: #444;
    cursor: pointer;
    border-radius: 10px;
    display:none;
    transition: all .2s;
}
.topButton:hover{
    background: #560540;
    color: #dedede;
}
.topButton__show{
display: block;
}
.main {
    margin: auto;
    margin-top: 130px;
    width: 1100px;
    max-width: 100%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
    text-align: center;
}

.sidebar {
    /* display: none; */
    width: 300px;
    background: #202020;
    box-shadow: 5px 0 15px rgba(5, 5, 5, 0.1);
    padding: 0 10px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 400;
    overflow-y: auto;
    transform: translateX(-150rem);
    transition: all .2s;
}
.sidebar.open{
transform: translateX(0);
}
/* .sidebar.active {
    display: block;
} */

.sidebar__header {
    height: 180px;
    background-color: #202020;
}

.sidebar__img {
    object-fit: cover;
    max-width: 100%;
    display: block;
    height: 100%;
}

.sidebar__content {
    padding: 0 1rem;
}

.sidebar__title {
    text-align: center;
    font-size: 1.2rem;
    color: #c6b8b8;
    padding-bottom: 1rem;
}

/* section--clients */
/* Clients */
.section--clients {
    background: #f5f5f5 url("../images/stories/clients-bg.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.clients {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-top: 70px;
}
.client__link{
    text-decoration:none;
    display: block;
}
.clients__item {
    width:360px;
    padding:10px;
    /* position: relative; */
    margin-bottom: 60px;
}

.clients__photo {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;

    /* position: absolute; */
    top: 0;
    left: 40px;
    z-index: 1;
}

.clients__name {
    margin-bottom: 5px;

    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.clients__prof {
    font-size: 15px;
    color: #333;
    font-style: italic;
    font-weight: 300;
}

.clients__text {
    font-size: 15px;
    color: #999;
}

.clients__text:before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px auto;

    background-color: #f38181;
}

.profile {
    position: relative;
}

.profile__avatar {
    position: relative;
    display: block;
    object-fit: cover;
    max-width: 100%;
    width: 10rem;
    height: 10rem;
    margin: 0 auto 1.7rem;
    border: 1px solid #fff;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    margin-top: -3rem;
}

.profile__header {
    margin-bottom: 1rem;
    padding: 5px 0 0 30px;
    text-align: center;
}

.profile__name {
    font-size: 1.3rem;
    color: #c6b8b8;
    padding-bottom: 1rem;
}

.profile__prof {
    font-size: 1.2rem;
    color: #dedede;
    text-align: center;
}

.profile_span {}



.menu {}

.nav {}

.nav__menu-link {
    color: #fff;
    display: block;
    margin: 0;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    transition: color .2s;
}

.nav__menu-link:hover {
    color: rgb(221, 181, 5);
}

.lesson {
    width: 100%;
}

.lesson__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto 15px;
    max-width: 480px;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    transition: transform 0.2s ease-in;
    box-shadow: 0 10px 40px rgba(126, 155, 189, 0.35);
}

.lesson__list {
    list-style: none;
    max-width: 700px;
    line-height: 2.5;
}

.lesson__item {
    padding: 7px 5px;
}

.lesson__link {
    text-decoration: none;
    font-size: 1.3rem;
    
    color: #333;
    text-align: center;
    transition: transform 0.2s ease-in;
}

.lesson__link:hover {
    color: #b312c9;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
}

.article__title {
    padding-bottom: 25px;
    font-family: 'Kaushan Script', curcive;
    font-size: 2rem;
    color: #333;
}

.article__task {
    font-size: 18px;
    padding-bottom: 15px;
}

.article__task-span {}

.article__text {
    font-size: 1.8rem;
    font-weight: bolder;
    text-align: center;
}

.article__img {
    object-fit: cover;
    margin: 30px 0;
    max-width: 100%;
    /* text-align: center; */
}

/* оформление цитаты */
.blockquote0 {
    margin: 30px 0;
    background: rgb(245, 244, 244);
    border-top: 5px solid #eaf9f9;
    border-bottom: 5px solid #eaf9f9;
    ;
    color: #3a3c55;
    padding: 30px 30px 30px 90px;
    position: relative;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.blockquote0:before {
    content: "\201C";
    font-family: serif;
    position: absolute;
    left: 20px;
    top: 20px;
    color: #fff;
    background: rgb(178, 59, 194);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 50px;
    line-height: 1.35;
    text-align: center;
}

.blockquote0__text {
    margin: 0 0 1rem;
    font-size: 1.4rem;
    letter-spacing: .05em;
    line-height: 1.4;
}

.lessonCards {
    background: #fff;
    padding-bottom: 115px;
}

.lessonCards__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lessonCards__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px 10px;
    width: 100%;
    max-width: 330px;
    margin: 10px;
    background: #fff;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 10px 40px rgba(126, 155, 189, 0.35);
}

.lessonCards__title {
    margin: 0.8rem;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 130%;
}

.lessonCards__text {
    line-height: 1rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
}

.lessonCards__link {
    margin: 10px 0;
    text-decoration: none;
    padding: 10px 40px 10px;
    background: #ffc22f;
    border-radius: 15px;
    transition: all 0.2s ease-in;
    color: #b10303;
}

.lessonCards__link:hover {
    background: #8c1195;
    color: #fff;
}

.lesson {
    width: 100%;
}

.lesson__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 15px;
    max-width: 480px;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    transition: transform 0.2s ease-in;
    box-shadow: 0 10px 40px rgba(126, 155, 189, 0.35);
}

.lesson__title {}

.lesson__list {
    list-style: none;
    max-width: 700px;
}

.lesson__item {
    padding: 7px 5px;
}

.lesson__link {
    text-decoration: none;
    font-size: 1.3rem;
    line-height: 1;
    color: #333;
    text-align: center;
    transition: transform 0.2s ease-in;
}

.lesson__link:hover {
    color: #b312c9;
}

/* accordion */
.accordion {
    width: 100%;
    max-width: 900px;
    margin: auto;
    background: #fff;
    text-align: center;
}

.accordion__item {}

.accordion__btn {
    width: 100%;
    background: rgb(54, 28, 120);
    border: 1px solid #ddd;
    border-radius: 0;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 15px;
    box-shadow: 2px 3px 3px 1px #d122b4;
    transition: all 0.2s ease-in-out;
    vertical-align: middle;
    white-space: normal;
    text-transform: uppercase;
}

.accordion__btn:active,
.accordion__btn:hover,
.accordion__btn:focus {
    background: rgb(21, 4, 16);

}

.accordion__panel {
    overflow: hidden;
    max-height: 0;
    line-height: 1.3;
    transition: all .2s linear;
}

.accordion__panel:last-child {
    border-bottom: 1px solid rgb(192, 181, 181);
}

.accordion__text {
    font-size: 20px;
}

.accordion__img {
    object-fit: cover;
    max-width: 100%;
}

.footer {
    margin-top: 30px;
    width: 100%;
    background: #3a3e64;
    padding: 8px 0;
    bottom: 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid rgb(240, 235, 235);
    padding: 5px;
    width: 33%;
    height: auto;
    background: rgb(37, 35, 35);
    color: aliceblue;
    text-align: center;
    font-size: 0.8rem;
}

.footer__title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1;
}

.address {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.footer__link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    line-height: 40px;
    font-size: 20px;
    transition: all .1s linear;
}

.phone--footer {
    color: #fff;
}

.footer__link:hover {
    color: #eccb0b;
}

@media (max-width: 1189px) {

    .lessonCards__container {
        flex-direction: column;
        align-items: center;
    }

    .lessonCards__card {
        max-width: 400px;
    }
}

@media (max-width: 1110px) {

    .sidebar__header {
        height: 10rem;
    }

    .sidebar__content {
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .profile {
        position: relative;
        border-bottom: 1px solid #1c1c1c;
    }

    .profile__avatar {
        width: 4.8rem;
        height: 4.8rem;
        margin-left: -1.1rem;
        position: absolute;
        left: 0;
    }

    .profile__name {
        font-size: 1.1rem;
        padding-bottom: 0.5rem;
    }

    .profile__prof {
        font-size: 0.9rem;
    }
}

@media(max-width:1024px) {

    .header__images {
        width: 60%;
    }

    .header__images {
        width: 50%;
    }

    .services {
        padding-top: 250px;
    }

    .services__inner {
        flex-wrap: wrap;
    }

    .services__list {
        order: -1;
        margin-bottom: 30px;
        width: 100%;
    }

    .services__item {
        width: 100%;
    }

    .services__item:hover {
        width: 100%;
    }

    .services__content {
        width: 100%;
        margin-right: 0;
    }

    .benefits__img {
        display: none;
    }
}

@media(max-width:930px) {
    .header__contacts {
        width: 100%;
        left: 0;
        background: rgb(238, 235, 235);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        position: absolute;
        width: 100%;
        top: 5px;
    }

    .lessonCards__card {
        max-width: 80%;
    }

    .footer__inner {
        /* display: flex; */
        flex-direction: column;
        align-items: center;
    }

    .footer__block {
        width: 100%;
    }
}

@media(max-width:900px) {
    .phone {
        font-size: 24px;
        line-height: 36px;
    }

    .title::after {
        top: 0px;

        left: 50%;
        margin: 150px 0 0 0;

    }

    .header__title {
        font-size: 44px;
        line-height: 64px;
    }

    .header__subtitle {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 20px;
    }

    .header__social {
        padding: 30px 0 20px 53px;
    }

    .header__images {
        width: 50%;
        right: 30px;
        bottom: -15px;
    }

    .clients {
        max-width: 600px;
        margin: 0 auto;
    }

    .clients__item {
        width: 100%;
        padding-right: 0;
    }

    .clients__item:last-child {
        margin-bottom: 0;
    }

    .services {
        padding-top: 25px;
    }

}

@media(max-width:768px) {
    .section__header {
        padding: 46px 0;
    }

    .section__title {
        font-size: 1.5rem;
    }

    .article__title {
        font-size: 1.4rem;
    }
    .article__task{
        font-size: 1rem;
    }
    .benefits__inner {
        text-align: center;
    }

    .benefits__list {
        padding: 25px 15px;
    }

    .benefits__item {
        width: 100%;
    }
}

@media(max-width:731px) {
    .lessonCard__card {
        max-width: 80%;
    }
}

@media(max-width:600px) {
    .section__title {
        font-size: 27px;
        max-width: 500px;
    }

    .section__subtitle {
        padding-bottom: 21px;
    }

    .section__text {
        max-width: 536px;
    }

    .header__top {
        padding: 14px 0 13px;
    }

    .header__title {
        font-size: 26px;
        line-height: 42px;
    }

    .header__content {
        padding-top: 0;
        text-align: center;
    }

    .header__images {
        position: static;
        width: 100%;

    }

    .clients__photo {
        position: static;
    }

    .clients__item {
        padding-left: 0;
        text-align: center;
    }

    .clients__text:before {
        margin: 15px auto;
    }

    .phone,
    .logo {
        font-size: 18px;
    }

    .header__social {
        padding: 30px 0 40px 0px;
    }

    .social {
        width: 100%;
        justify-content: center;
    }

    .title {
        font-size: 23px;
        text-align: center;
        line-height: 27px;
    }

    .title::after {
        display: none;
    }

    body {
        font-size: 16px;
        line-height: 22px;
    }

    .services {
        padding-top: 50px;
    }

    .vices__content {
        text-align: center;
    }

    .services__item:before {
        top: 5px;
    }
}

.logo {
    margin-bottom: 20px;
    width: 100%;
}

.header__title {
    margin-bottom: 20px;
}

.services__inner,
.benefits {
    margin-bottom: 50px;
}

.services__item {
    padding: 10px 15px 10px 60px;
}

.services__item::before {
    left: 11px;
}

.button--decor::before {
    right: -50px;
}

.button--decor::after {
    margin-left: 110px;
}

@media(max-width:500px) {
    .nav-toggle {
        right: 69px;
        top: 155px;
    }
}

@media(max-width:340px) {

    .button--decor::before,
    .button--decor::after {
        display: none;
    }

}

@media(max-width:340px) {
    .header__title {
        font-size: 24px;
        line-height: 34px;
    }

    .header__title {
        font-size: 20px;
        line-height: 30px;
    }

    .title {
        font-size: 20px;
    }
}